@import "~/.config/rofi/config.rasi"

configuration {
  modi: "drun";
  show-icons: false;
}

window {
  width: 40%;
  transparency: "real";
}

listview {
  scrollbar: false;
  columns: 1;
  cycle: true;
  lines: 5;
  fixed-height: true;
}

